@media (max-width: 705px) {
    body{
        background-color: rgba(219, 202, 202, 0.808);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
     margin: 0;
     padding: 0;}
    .corpo{
        width: 80%;
        height: 82%;
        border: 1px solid rgb(255, 255, 255);
        background-color: white;
        border: 0;
        margin: 0;
        padding: 0;
    }
    .top{
        width: 100%;
        height: 150px;
        background: linear-gradient(to right, rgb(113, 203, 255) 0%, blue 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .top h1{
        color:white ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 2px;
        margin-bottom: 10px;
        font-size: 20px;
        margin-top: 20px;
    }
    .top form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top input{
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
     padding: 6px 30px;
     margin: 7px;
     border-radius: 5px;
    }
    .top input:hover{
    transform: scale(1.04); 
    
    }
    .top label{
        font-size: 15px;
        color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .top input[type = "submit"]{
        background-color: white;
        border: 0;
        color: black;
        font-size: 12px;
        cursor: pointer;
    }
    
    .meio{
        width:100% ;
        height: calc(450px - 150px);
     display: flex;
     margin-top: 12px;
    flex-direction: column;
     
     
    }
    .meio .h1{
        color:rgb(0, 0, 0) ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 2px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 12px;
    }
    .meio .ul{
        
        padding-left: 20px;
        margin-top: 10px;
        font-size: 20px;
    }
    .button{     background: linear-gradient(to right, rgb(113, 203, 255) 0%, blue 100%);

        padding: 10px;
        
          border: 0;
        display: flex;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
       }
       button{
           padding: 5px 20px;
           border-radius: 5px;
           font-weight: 400;
           color: black;
           transition: 0.3s;
           cursor: pointer;
           margin-top: 10px;
           
       }
       
       button:hover{
            transform: scale(1.1);
       }
}